a {
    color: #112d4e;
  }
  .header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }
  
  img {
    float:left;
}
h3 {
    float:center;
} 

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        z-index:1; 
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
      }
     
      
      #navbar a:hover {
        background-color: rgba(215, 221, 227, 0.3);
      }
 
  li {
    float: left;
  }
  
  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #2b3b2c;
  }
 
body {
    background-color: lightgray;
    font-family: "Helvetica", Sans-Serif;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-instagram {
    background: #3B5998;
    color: white;
    
  }
  
  .fa-telegram {
    background: #55ACEE;
    color: white;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}


*:focus {
	outline: 0;
}

body {
	background: #263238;  
}

h3 {
	text-align: center;
}


.container {
	padding: 12px 24px 24px 24px;
	margin: 48px 12px;
	background: #c24f92;
	border-radius: 4px;
}

label {
	font-size: 0.85em;
	margin-left: 12px;
}
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid rosybrown;
}


input[type=submit] {
	background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

input[type=reset] {
	background: #64B5F6;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}


input[type=submit]:hover {
	background: #2196F3;
}


.center {
	text-align: center;
}


  
p {
    color: white;
    font-style: normal;
    font-family: sans-serif;
}
h3{
    color: white;

}
